.app{
  background:url('accets/images/pattern-hills.svg'),url('accets/images/bg-stars.svg'),linear-gradient(to bottom,hsl(234, 17%, 12%) 0%,  #241C2B 60%);
  background-repeat: no-repeat;
  background-position:bottom;
  background-size:contain;
  height:100vh;
  
}